[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
Flask = "*"
pandas = "*"
textblob = "*"
requests = "*"
regex = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
